div(class="mainContent") 
  div(class="container")
    a(href="./index.html" ) 
      i(class="fab fa-apple colorMain")
    a(href="./mac.html" class="colorMain" ) Mac
    a(href="./ipad.html" class="colorMain"  ) iPad
    a(href="./iphone.html" class="colorMain" ) iPhone
    a(href="./watch.html" class="colorMain" ) Watch
