div(class="mainContent") 
  div(class="container main")
    a(href="./index.html" ) 
      i(class="fab fa-apple textMain")
    a(href="./mac.html" class="textMain" ) Mac
    a(href="./ipad.html" class="textMain"  ) iPad
    a(href="./iphone.html" class="textMain" ) iPhone
    a(href="./watch.html" class="textMain" ) Watch
