doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPhone x
        p(class="subTitle") Dile hola al futuro.
      img(src="images/iphone_x_large.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
    h1(style='background-color:	#B00E23;')

      div(class="ipadTexts")  
        p(class="title" style='color: white') iPhone 8 (PRODUCT)red
        p(class="subTitle") Todo lo que haces, lo puedes hacer mejor.
      img(src="images/iphone_red.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPad
        p(class="subTitle") Es como una computadora, pero como ninguna otra computadora
      img(src="images/hero_large.jpg" class="imgApple")