doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPad
        p(class="subTitle") Es como una computadora, pero como ninguna otra computadora.
      img(src="images/hero_large.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPad Pro
        p(class="subTitle") Todo lo que haces, lo puedes hacer mejor.
      img(src="images/ipad_pro_large.jpg" class="imgApple")
      img(src="images/ipad_pro_large.jpg")

