doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPad
        p(class="subTitle") Es como una computadora, pero como ninguna otra computadora.
      img(src="images/hero_large.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") iPad Pro
        p(class="subTitle") Todo lo que haces, lo puedes hacer mejor.
      img(src="images/ipad_pro_large.jpg" class="imgApple")
    div(class=" contentItemiPad contain")
      div(class="itemIpad")
        p(class="subTitleItemIpad") Apple Pencil
        img(src="images/pencil_large.jpg")
      div(class="itemIpad")
        img(src="images/smart_keyboard_large.jpg")
        p(class="subTitleItemIpad") Smart Keyboard para el iPad Pro
    div(class="contain modelsIpad")
      img(src="images/compare_ipad_large.jpg", alt="")
      p(class="subTitleItemIpad") Compara Los modelos de iPad
    div(class="contain imgImgBackiPad")
      img(src="images/ar_large.jpg" class="imgback") 
      div(class="textsImgBackiPad imgbackRigth")
        p(class="textsImgBackiPadTitle imgbackWhite") Realidad aumentada
        p(class="textsImgBackiPadSubtitle imgbackWhite") Un mundo nuevo a tu alrededor.
        p(class="textsImgBackiPadParagraph imgbackWhite") Transforma tu manera de trabajar, aprender, jugar y conectarte con el mundo que te rodea. El iPad está listo para la nueva generación de apps de realidad aumentada.
    div(class="contain imgImgBackiPad")
      img(src="images/ios11_do_more_large.jpg" class="imgback") 
      div(class="textsImgBackiPad imgbackLeft")
        p(class="textsImgBackiPadTitle imgbackBlack") Haz aún más en el iPad con iOS 11.
        p(class="textsImgBackiPadParagraph imgbackBlack") Echa un vistazo a estos videos cortos que muestran cómo tu iPad y tú pueden hacer aún más con iOS 11. Descubre consejos útiles sobre cómo usar el nuevo Dock, la optimizada funcionalidad multitarea, la práctica app Archivos y más.
    div(class="contain imgImgBackiPad imgBackItem")
      img(src="images/ipad_playgrounds_large.png" class="imgback") 
      div(class=" imgbackRigth")
        p(class="textsImgBackiPadTitle imgbackBlack") Swift Playgrounds
        p(class="textsImgBackiPadParagraph imgbackBlack") Aprende a programar en serio con tu iPad. De la forma más divertida.
    div(class="contain imgImgBackiPad")
      img(src="images/families_large.jpg" class="imgback") 
      div(class="textsImgBackiPad imgbackLeft")
        p(class="textsImgBackiPadTitle imgbackWhite") Tú quieres lo mejor para tu familia, nosotros también.
        p(class="textsImgBackiPadParagraph imgbackWhite") En Apple estamos constantemente desarrollando nuevas funcionalidades para asegurarnos de que tus hijos usen sus dispositivos como tú quieres que lo hagan.
    div(class="contain imgImgBackiPad")
      img(src="images/business_large.jpg" class="imgback") 
      div(class="textsImgBackiPad imgbackCenter")
        p(class="textsImgBackiPadTitle imgbackWhite") iPad para la empresa
        p(class="textsImgBackiPadParagraph imgbackWhite") Cuando descubras todas las capacidades del iPad, tu forma de trabajar cambiará para siempre.
