doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple contentPhoneOne")
      div(class="ipadTexts")  
        p(class="title") iPad
        p(class="subTitle") Es como una computadora, pero como ninguna otra computadora.
      img(src="images/iphone_x_large.jpg" class="imgApple")
    div(class="contain imgImgBackiPad imgBackItem iPhoneComparate")
      img(src="images/compare_large2.jpg" class="itemIpadImg" )
      div(class=" imgbackRigth cityiPhoneText")
        p(class="textsImgBackiPadTitle imgbackBlack") Compara los modelos de iPhone.
      
    div(class="contain imgImgBackiPad")
      div(class="imgback imgback6") 
      div(class="textsImgBackiPad imgbackRigth")
        p(class="textsImgBackiPadTitle imgbackBlack") Realidad aumentada
        p(class="textsImgBackiPadSubtitle imgbackBlack") Un mundo nuevo a tu alrededor.
        p(class="textsImgBackiPadParagraph imgbackBlack") Transforma tu manera de trabajar, aprender, jugar y conectarte con el mundo que te rodea. El iPad está listo para la nueva generación de apps de realidad aumentada.
    div(class="contain imgImgBackiPad imgBackItem cityiPhone")
      div(class=" imgbackRigth cityiPhoneText")
        p(class="textsImgBackiPadTitle imgbackBlack") Un gran paso para el iPhone.
        p(class="textsImgBackiPadParagraph imgbackBlack") Con iOS 11, tu iPhone se vuelve tan inteligente que aprende de ti todos los días. Es tan poderoso que te ayuda de una forma aún más personal. Y tan capaz que es más eficiente que nunca.
      img(src="images/ios_large.jpg" class="itemIpadImg" )
    div(class="contain imgImgBackiPad imgBackItem  airpot")
      div(class=" imgbackRigth cityiPhoneText")
        p(class="textsImgBackiPadTitle imgbackBlack") Sin cables y sin esfuerzo. Como por arte de magia
      img(src="images/airpods_alt_large.jpg" class="itemIpadImg" ) 
    div(class="contain imgImgBackiPad imgBackItem cityiPhone")
      div(class=" imgbackRigth cityiPhoneText")
        p(class="textsImgBackiPadTitle imgbackBlack") El mejor lugar para todas tus fotos, archivos y mucho más.
        p(class="textsImgBackiPadParagraph imgbackBlack") Todos los dispositivos Apple vienen con iCloud, para que tu contenido esté siempre protegido, actualizado y a mano dondequiera que estés.
      img(src="images/promo_tile_icloud_large.jpg" class="itemIpadImg" ) 
    div(class="contain imgImgBackiPad")
      div( class="imgback imgback3") 
      div(class="textsImgBackiPad imgbackLeft")
        p(class="textsImgBackiPadTitle imgbackWhite") Tú quieres lo mejor para tu familia, nosotros también.
        p(class="textsImgBackiPadParagraph imgbackWhite") En Apple estamos constantemente desarrollando nuevas funcionalidades para asegurarnos de que tus hijos usen sus dispositivos como tú quieres que lo hagan.
    div(class="contain imgImgBackiPad")
      div( class="imgback imgback5") 
      div(class="textsImgBackiPad imgbackLeft")
        p(class="textsImgBackiPadTitle imgbackWhite") El iPhone en la empresa
    
