doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
    h1(style='background-color:	#1A1A1A;')
      div(class="ipadTexts")  
        p(class="title") iMac Pro
        p(class="subTitle") Más poder para los pro.
      img(src="images/mac/imac_pro_01_large_2x.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") MacBook Pro
        p(class="subTitle") Una experiencia cada vez más brillante.
      img(src="images/mac/imac_large_2x.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") MacBook Pro
        p(class="subTitle") Un toque de genialidad.
      img(src="images/mac/macbookpro_tb_large_2x.jpg" class="imgApple")
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="title") MacBook
        p(class="subTitle") El futuro es ligero.
      img(src="images/mac/macbook_large.jpg" class="imgApple")