body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 950px;
    margin: 0 auto
}

.mainContent {
    height: 40px;
    width: 100%;
    background: #393939;
}

.textMain {
    color: #fff;
    font-weight: 300;
}

.main {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgApple {
    max-width: 60%;
}

.appleContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.backgroundContentApple {
    background: #fafafa;
    margin-bottom: 10px;
}

.nike {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 150px 0 150px;
}

.dwatch {
    flex-direction: row;
}

.sdwatch {
    width: 50%;
    margin: 20px;
    padding: 20px;
}

.ipadTexts {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 75px;
    font-weight: bold;
    color: #393939;
    margin: 50px 0px 10px;
}

.subTitle {
  color: #393939;
  font-size: 40px;
  margin: 60px 0;
  font-weight: bold;
}
.contain{
  max-width: 1350px;
  margin: 0 auto;
}
.subTitleItemIpad{
  color: #393939;
  font-size: 50px;
  font-weight: bold;
  width: 400px;
  text-align: center;
}
.contentItemiPad{
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;
 margin-top: 60px;
}
.modelsIpad{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  margin: 30px auto;
  background: #fafafa;
}
.imgImgBackiPad{
  position: relative;
  margin-top: 30px;
}
.imgbackRigth{
  right: 7%;
}
.imgbackLeft{
  left: 7%;
}
.textsImgBackiPad{
  position: absolute;
  width: 500px;
  top: 24%;
  .imgbackWhite{
    color: white;

  }
  .textsImgBackiPadTitle{
    font-size: 50px;

  }
  .textsImgBackiPadSubtitle{
    font-size: 30px;

  }
  .textsImgBackiPadParagraph{
    font-size: 20px;
    font-weight: 300;
  }
  .imgbackBlack{
    color: black;

  }
}
.itemIpad{
  background: #fafafa;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contentPhoneOne{
  justify-content: end !important;
  height: 700px;
}


// Tablets en horizonal y escritorios normales

@media (min-width: 768px) and (max-width: 1199px) {


}




 // Móviles en horizontal o tablets en vertical

@media (max-width: 767px) {


}





// Móviles en vertical

@media (max-width: 480px) {

}
