doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
      img(src="images/home-apple/series_3_logo_large.png" class="imgApple")
      img(src="images/home-apple/hero_l4rge.jpg")

    div(class="appleContent backgroundContentApple nike")
      img(src="images/home-apple/nike_logo_large.png" class="imgApple")
      img(src="images/home-apple/nike_large.jpg")

    div(class="appleContent backgroundContentApple dwatch")

      div(class="appleContent backgroundContentApple sdwatch")
        img(src="images/home-apple/hermes_logo_large.png" class="imgApple")
        img(src="images/home-apple/hermes_large.jpg")
      div(class="appleContent backgroundContentApple sdwatch")
        img(src="images/home-apple/edition_logo_aligned_large.png" class="imgApple")
        img(src="images/home-apple/edition_large.jpg")

    div(class="appleContent backgroundContentApple")
      img(src="images/home-apple/logo_watch_series_1_large.png" class="imgApple")
      p(class="subTitle") Desde $249
      img(src="images/home-apple/series_1_large.jpg")

    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="subTitle") Hay un Apple Watch para todos.
      img(src="images/home-apple/compare_large.jpg" class="imgApple")



      