doctype html
html(lang="es")
  head
    title #{page_title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include links.pug
  body
    include header.pug
    div(class="appleContent backgroundContentApple")
      img(src="images/series_3_logo_large.png" class="imgApple")
      img(src="images/hero_l4rge.jpg")

    div(class="appleContent backgroundContentApple nike")
      img(src="images/nike_logo_large.png" class="imgApple")
      img(src="images/nike_large.jpg")

    div(class="appleContent backgroundContentApple")
      img(src="images/series_3_logo_large.png" class="imgApple")
      img(src="images/series_1_large.jpg")
      
    div(class="appleContent backgroundContentApple")
      div(class="ipadTexts")  
        p(class="subTitle") Hay un Apple Watch para todos.
      img(src="images/compare_large.jpg" class="imgApple")



      